/terraform/app1use/ec2/terraform.tfstate
/terraform/app1use/ec2/.terraform.lock.hcl
/terraform/app1use/ec2/.terraform/
/terraform/app1use/ec2/terraform.tfstate.backup
/terraform/app1use/s3/terraform.tfstate
/terraform/app1use/s3/.terraform.lock.hcl
/terraform/app1use/s3/.terraform/
/terraform/app1use/s3/terraform.tfstate.backup
/terraform/app1use/vpc/terraform.tfstate
/terraform/app1use/vpc/.terraform.lock.hcl
/terraform/app1use/vpc/.terraform/
/terraform/app1use/vpc/terraform.tfstate.backup
/terraform/modules/ec2/terraform.tfstate
/terraform/modules/ec2/.terraform.lock.hcl
/terraform/modules/ec2/.terraform/
/terraform/modules/s3/terraform.tfstate
/terraform/modules/s3/.terraform.lock.hcl
/terraform/modules/s3/.terraform/
/terraform/modules/vpc/terraform.tfstate
/terraform/modules/vpc/.terraform.lock.hcl
/terraform/modules/vpc/.terraform/
